
.legendary td:nth-child(3) {
    color: rgb(196, 169, 19);
}
.epic td:nth-child(3) {
    color: rgb(198, 33, 231);
}
.rare  td:nth-child(3) {
    color: blue;
}

.uncommon  td:nth-child(3) {
    color: rgb(37, 190, 104);
}




body {
    margin-top:50px;
}

#chars td:nth-child(n+6) {
    text-align: center;
}

th {
    font-size: .8rem;
    white-space: nowrap;
    text-align: center;
    height:auto !important;
    padding:3px !important;
}
td {
    white-space: nowrap;
    overflow: hidden;
}

.flt {
    font-size: .6rem !important;
    height:auto !important;
    padding:3px !important;
}

.fltrow {
    background-color: #DEDEDE !important;
   
}

table.TF td {
    border-bottom: none !important;
    padding: 10px !important;
    margin:0px !important;
   
}

table.TF th {
  
    background-color: #DEDEDE !important;
    color: #333 !important;
   

}